*__pycache__*
*.pyc
env
db.sqlite3
.idea
celerybeat.pid
*.sqlite3
*__pycache__
.fuse_hidden000002fa00000004
.fuse_hidden000002fa0000000c
.vscode
dump.rdb
socors_backend/.env
win_env
venv
celerybeat-schedule