body{
    height: 100%;
    width: 100%;
}

*{
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.content .row h1{
    font-weight: 800;
    color: black;
    font-size: 18px;
    padding: 1vh 0 0 20px;
}
.navbar{
    font-weight: 800;
    height: 9.5vh;
    min-height: 55px;
}
.picture{
    height: 24vh;
    min-height: 150px;
    color: white;
    font-weight: 800;
    font-size: 24px;
    line-height: 35px;
}
.list{
    background: white;
    width: 100%;
    padding-top: 6vh;
    height: 76vh;
}

.link{
    color: black;
    font-weight: 600;
    font-size: 19px;
    line-height: 30px;
    padding-bottom: 3vh;
}

#bell{
    color: #FFFFFF;
    opacity: 0.5;
    font-size: 25px;
    margin-top: 10px;
}

#bell_num{
    position: relative;
    top: -17px;
    right: 6px;
}

.nav-item{
    padding-bottom: 3vh;
}
.navbar-toggler{
    margin-top: 0.9vh
}
#tri{
    border: 0;
}
.dp{
    height: 13.6vh;
    width: auto;
    min-height: 100px;
    margin: 1.1vh auto 0 auto;
}

.navbar-toggler-icon{
    color: white;
}
.mobileMenu{
    width: 64vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bg{
    background: #2DA8CF;
}
@media (max-width: 3000px){
    .mobileMenu{
        transform: translateX(100%);
        position: fixed;
        top: 0px;
        bottom: 0;
        right: 0;
        margin: auto;
        transition: all ease 0.25s;
    }
    .mobileMenu.open {
        transform: translateX(0%);
    }
    .overlay{
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        background-color: rgba(0,0,0,0.5);
        display: none;
    }
    .overlay.open{
        display: block;
    }
}



.content{
    margin-top: 9.5vh;
}
.edit-btn{
    position: relative;
    top: -100px;
    left: 47px;
    z-index: +1;
}
.userDP{
    border-radius: 50%;
    height: 115px;
    width: auto;
    min-height: 95px;
}
.user_photo{
    height: 17.8vh;
    min-height: 95px;
    width: min-content;
    margin: 0 auto;
}
.header{
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: #2DA8CF;
}

#gen_info > .row{
	margin-bottom:15px;
}
#gen_info .row .col .row span{
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	color: #000000;
}
#gen_info .row .col .row:first-of-type span{
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	font-size: 9px;
	line-height: 12px;
	color: #000000;
	opacity: 0.39;
}
.address{
	border: 2px solid rgba(45,168,205,0.5);
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.21);
}
.address span{
	font-family: Nunito;
	font-style: normal;
	font-size: 12px;
	line-height: 16px;
}
a.btn, button.btn{
	background: #2DA8CF;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.18);
	border-radius: 3px;
	min-width: fit-content;
}
a.btn, button.btn{
	font-size:12px;
}
#add_address{
	font-size:16px;
}

#remove-btn{
    position: absolute;
    bottom: 36px;
    right: 8.33%;
}