body{
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.swiper-container{
    height: 90vh;
}



.register-btn{
    background: #2DA8CF;
    border-radius: 19px;
    border: 0;
    position: absolute;
    top:81vh;
    right: 20px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 20px;
}

button.next{
    background: #2DA8CF;
    width: 120px;
    height: 40px;
    border-radius: 19px;
    border: 0;
    position: absolute;
    top:87vh;
    right: 20px;
}

h2{
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 21px;
    line-height: 27px;
    color: #2DA8CF;
    margin-left: 4.4vw;
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 39px;
    font-weight: 700;
	padding: 0 20px 0 20px;
}

span.swiper-pagination-bullet{
    height: 3px;
    width: 28px;
    border: 0;
    border-radius: 18px;
    background: #C4C4C4;
    margin-right: 3vw ;
	opacity: 0.9;
}

span.swiper-pagination-bullet-active{
    width: 41px;
    background: #2DA8CF;
}

.center{
    text-align: center;
}

.center+img{
    width: 90vw;
    position: relative;
    top: -50vw;
}

.center img{
    width: 60vw;
    position: relative;
    top: 10vw;
}

div.swiper-pagination-bullets{
	bottom: 50px !important;
}
