body{
    height: 100%;
    width: 100%;
}

*{
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.store_name{
    margin-top: 1.5vh;
}

img#edit_name{
    width: 9px;
    height: 9px;
	margin: 0 0 20px 5px;
}

#nameEdit{
    width: 50vw ;
    height: 25px;
    border: 0;
    border-bottom: 1px solid white;
    background-color: #2DA8CF;
    color: white;
}

.info{
    font-size: 14px;
    color: #CE2BD1;
    font-weight: 600;
    margin-right: 2vw;
}
div p{
    margin-bottom: 0;
}

div.details{
    margin: 0 auto 3.9vh auto;
    padding:0 0 0 5.5vw;
    width: 50vw;
    height: 21vh;
    min-height: 150px;
    background: white;
    box-shadow: 3px 3px 19px rgba(0, 0, 0, 0.14);
    border-radius: 14px;
    font-weight: 800;
} 

.modal-dialog{
   font-weight: 800;
   box-shadow: 3px 3px 19px rgba(0, 0, 0, 0.14);

}

.modal-content{
    border-radius: 14px;
    box-shadow: 3px 3px 19px rgba(0, 0, 0, 0.14);

}

.modal-body{
	padding-top: 0 !important;
}

.box{
    position: absolute;
    top: 30vh;
    left: 25vw;
    display: none;

}


.col-3{
    margin-right: 4.1vw;
}

.timeslot{
    margin-top: 2vh;
    font-size: 13px;
}

.shop img{
    height: 60%;
    min-height: fit-content;
    width: auto;
    margin-top: 2.5vh;
}

.shop_details{
    font-size: 11px;
}

.shop_name{
    font-size: 17px;
    margin-top: 4.8vh;
}

.open{
    color: green;
}

.close{
    color: red;
}

.line{
    height: 9.2vh;
    min-height: 70px;
    box-shadow: 3px 3px 19px rgba(0, 0, 0, 0.14);
    border-radius: 14px;
    margin-bottom: 1.5vh;
}

.shop-name{
    font-size: 17px;
    font-weight: 800;
}

.time-slot{
    margin-top: 1.25vh;
    font-weight: 800;
    font-size: 13px;
    line-height: 16px;
}

.more-info{
    color: #CE2BD1;
    font-weight: normal;
    font-size:13px;
    margin-top: 1.5vh;
    text-align: right;
}

.more-info:hover{
    cursor: grab;
    text-decoration: underline;
}
.col-5{
    margin: 1.35vh auto;
}

.notif{
    background: url(./../nav_imgs/notif.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 65%;
    width: 7.8%;
    border: 0;
    margin-top: 0;
    margin-right: 15px;
    padding: 0;
}

#bell{
    color: #FFFFFF;
    opacity: 0.5;
    font-size: 25px;
    margin-top: 10px;
}

#bell_num{
    position: relative;
    top: -17px;
    right: 6px;
}

.navbar-toggler{
    margin-top: 0.9vh
}
.navbar-toggler-icon{
    color: white;
}

#tri{
    border: 0;
}

.navbar{
    font-weight: 800;
    height: 9.5vh;
    min-height: 55px;
}

.picture{
    height: 24vh;
    min-height: 150px;
    color: white;
    font-weight: 800;
    font-size: 24px;
    line-height: 35px;
}

#h1{
    font-weight: 800;
    color: black;
    font-size: 18px;
    line-height: 5.3vh;
    padding-bottom: 4.2vh;
}

.h1margin{
    margin: 11.9vh 0 -2vh 5vw;
}

.h1MinMargin{
    margin: 70px 0 -2vh 5vw;
}
p{
    margin-bottom: 0.8vh;
}

.dp{
    height: 13.6vh;
    width: auto;
    min-height: 100px;
    margin: 1.1vh auto 0 auto;
}

.tiny{
    font-size: 13px;
    line-height: 15px;
    font-weight: normal;
}

.list{
    background: white;
    width: 100%;
    padding-top: 6vh;
    height: 76vh;
}

.link{
    color: black;
    font-weight: 600;
    font-size: 19px;
    line-height: 30px;
    padding-bottom: 3vh;
}
.nav-item{
    padding-bottom: 3vh;
}
.content{
    margin-top: 9.5vh;
    width: 92.8vw;
    margin: 0 auto;
}
.mobileMenu{
    width: 64vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bg{
    background: #2DA8CF;
}
@media (max-width: 4000px){
    .mobileMenu{
        transform: translateX(100%);
        position: fixed;
        top: 0px;
        bottom: 0;
        right: 0;
        margin: auto;
        transition: all ease 0.25s;
    }
    .mobileMenu.open {
        transform: translateX(0%);
    }
    .overlay{
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        background-color: rgba(0,0,0,0.5);
        display: none;
    }
    .overlay.open{
        display: block;
    }
}

.shop_image, .timeslot{
    padding-left: 15px;
}

.buttons {
    display: flex;
    font-size: 10px;
    text-decoration: none;
    border: none;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    right: -10px;
    font-weight: normal;
}

.buttons submit {
    background: #2da8cf;
    padding: 2px 5px;
    margin-right: 5px;
}