{% load static %}
<!--<!DOCTYPE html>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/shopslots.css' %}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y="
      crossorigin="anonymous"
    />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600;800&display=swap" rel="stylesheet">
    <title>Time Slots</title>
</head>
<body>
    <nav class="navbar navbar-expand-xxl navbar-dark bg justify-content-xxl-start fixed-top">
        <a class="navbar-brand order-0 ml-xxl-0 ml-2 mr-auto" href="#">SOCORS</a>
        <button class="notif"></button>
        <button id="tri" class="navbar-toggler align-self-start" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex flex-column flex-xxl-row bg mobileMenu" id="navbarSupportedContent">
          
          <div class="picture">
            <img src="{% static 'images/user_dp.png' %}" alt="profile_picture" class="dp">
            <p id="nav_name" class="mb-0">{{ user.full_name }}<a href="{% url 'user:profile' %}"> <img id="edit_name" src="{% static 'images/edit_icon.png' %}" alt=""></a></p>
          </div>

          <div class="list">
            <ul class="navbar-nav align-self-stretch" id="menu">
              <li class="nav-item">
                <a class="link" href="{% url 'main:menu' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="link" href="{% url 'main:explore' %}">Explore</a>
              </li>
              <li class="nav-item">
                <a class="link" href="{% url 'main:mytimeslots' %}" tabindex="-1" aria-disabled="true">My Timeslots</a>
              </li>
              <li class="nav-item">
                <a class="link" href="{% url 'user:add-address' %}" tabindex="-1" aria-disabled="true">Add Address</a>
              </li>
              <li class="nav-item">
                <a class="link" href="{% url 'main:notifications' %}" tabindex="-1" aria-disabled="true">Notifications</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="overlay"></div>

    <div class="content">
        <h1 id="h1" class="d-flex justify-content-center h1margin">Anna's Medical Store</h1>
        
<!--{#        <div class="scrolling-wrapper">#}-->
<!--{#          <div class="d-inline-flex">#}-->
<!--{#            <div class="image">#}-->
<!--{#              <img src="{% static 'images/shop.png' %}" alt="Card image cap">#}-->
<!--{#            </div>#}-->
<!--{#            <div class="image">#}-->
<!--{#              <img src="{% static 'images/shop.png' %}" alt="Card image cap">#}-->
<!--{#            </div>#}-->
<!--{#            <div class="image">#}-->
<!--{#              <img src="{% static 'images/shop.png' %}" alt="Card image cap">#}-->
<!--{#            </div>#}-->
<!--{#            <div class="image">#}-->
<!--{#              <img src="{% static 'images/shop.png' %}" alt="Card image cap">#}-->
<!--{#            </div>#}-->
<!--{#            <div class="image">#}-->
<!--{#              <img src="{% static 'images/shop.png' %}" alt="Card image cap">#}-->
<!--{#            </div>#}-->
<!--{#            <div class="image">#}-->
<!--{#              <img src="{% static 'images/shop.png' %}" alt="Card image cap">#}-->
<!--{#            </div>#}-->
<!--{#            <div class="image">#}-->
<!--{#              <img src="{% static 'images/shop.png' %}" alt="Card image cap">#}-->
<!--{#            </div>#}-->
<!--{#            <div class="image">#}-->
<!--{#              <img src="{% static 'images/shop.png' %}" alt="Card image cap">#}-->
<!--{#            </div>#}-->
<!--{#            <div class="image">#}-->
<!--{#              <img src="{% static 'images/shop.png' %}" alt="Card image cap">#}-->
<!--{#            </div>#}-->
<!--{#        </div>#}-->
<!--{#        </div>#}-->
       
        <div class="timeslots container-fluid">
            <div class="header d-flex align-items-start">
                <h5>Timeslots</h5>
            </div>

            {% for slot in slots %}
            <div class="buttons">
                <div class="d-flex flex-row justify-content-around">
                    <button type="button" class="bt btn-danger" data-toggle="modal" data-target=".choose">9- 9:30 AM</button>
                    <button type="button" class="bt" data-toggle="modal" data-target=".choose">9- 9:30 AM</button>
                    <button type="button" class="bt" data-toggle="modal" data-target=".choose">9- 9:30 AM</button>
                </div>
<!--                <div class="d-flex flex-row justify-content-around">-->
<!--                    <button type="button" class="bt" data-toggle="modal" data-target=".choose">9- 9:30 AM</button>-->
<!--                    <button type="button" class="bt btn-warning" data-toggle="modal" data-target=".choose">9- 9:30 AM</button>-->
<!--                    <button type="button" class="bt" data-toggle="modal" data-target=".choose">9- 9:30 AM</button>-->
<!--                </div>-->
<!--                <div class="d-flex flex-row justify-content-around">-->
<!--                    <button type="button" class="bt" data-toggle="modal" data-target=".choose">9- 9:30 AM</button>-->
<!--                    <button type="button" class="bt" data-toggle="modal" data-target=".choose">9- 9:30 AM</button>-->
<!--                    <button type="button" class="bt" data-toggle="modal" data-target=".choose">9- 9:30 AM</button>-->
<!--                </div>-->
            {% endfor %}
                <div class="justify-content-between">
                    <div class="row">
                        <div class="col-4">
                            <p class="lgn"><img src="{% static 'images/avail.png' %}" alt="" class="lg">Available</p>
                        </div>
                        <div class="col-4">
                            <p class="lgn"><img src="{% static 'images/warn.png' %}" alt="" class="lg">Almost Full</p>
                        </div>
                        <div class="col-4">
                            <p class="lgn"><img src="{% static 'images/full.png' %}" alt="" class="lg">Full</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row-reverse align-items-center justify-content-center">
                  <span class="location"><img src="{% static 'images/loc.png' %}" alt="location"></span>
                  <span class="whatsapp"><img src="{% static 'images/whatsapp.png' %}" alt="whatsapp"></span>
                  <span class="phone"><img src="{% static 'images/phone.png' %}" alt="phone_number"></span>
              </div>
            </div>      
        </div>

      <div class="choose modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
                <button class="btn btn-info" data-toggle="modal" data-target=".pickup">Pick-up</button>
                <button class="btn btn-info" data-toggle="modal" data-target=".confirmation">Buy-in</button>
            </div>
          </div>
        </div>
      </div> 
      
      <div class="pickup modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header d-flex flex-row justify-content-center">
              <h5 class="modal-title">Pick-up</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="d-flex flex-row">
                <p class="align-self-start">Enter your order below</p> 
              </div>
              <input class="order-details" type="text">
            </div>
            <div class="modal-footer justify-content-around">
              <button type="button" class="btn btn-info" data-toggle="modal" data-target=".confirmation">Confirm</button>
              <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>


      <div class="confirmation modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header d-flex flex-row justify-content-center">
              <h5 class="modal-title">Your slot is confirmed: 9AM - 9:30 AM</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="d-flex flex-row">
                <p class="tick"><img src="{% static 'images/conf.png' %}" alt="confirmation_icon"></p>
              </div>
            </div>
            <div class="modal-footer justify-content-around">
              <button type="button" class="btn btn-info" data-dismiss="modal">Ok</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
			  src="https://code.jquery.com/jquery-3.5.1.min.js"
			  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
              crossorigin="anonymous"></script>
              
              <script
              src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"
              integrity="sha256-OUFW7hFO0/r5aEGTQOz9F/aXQOt+TwqI1Z4fbVvww04="
              crossorigin="anonymous"
            ></script>
    <script src="{% static 'js/shopslots.js' %}"></script>
</body>
</html>